*{
	padding: 0;
	margin: 0;
}

.tabs_content {
	width: 100px;
	font-size: 0;
	display: inline-block;
}

.description {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.game_tab {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #fff;
	background-color: #ccc;
	display: inline-block;
	font-size: 20px;
	position: relative;
}

.game_tab > span::after {
	content: attr("data-value");
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 8px;
}

.closed {
	opacity: 0;
}

.opened {
	opacity: 1;
}