<!DOCTYPE html>
<html ng-app="tabGame">
<head>
	<title>Tab Game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/tab_game.css"/>		
</head>
<body>

	<div ng-controller="TabController as game" class="tabs_content">
      <ul>
        <li class="game_tab" ng-repeat="tab in game.tabs track by $index" ng-click="game.example(tab)">            
            <span class="closed" id="tab-{{tab.id}}" data-value="{{tab.value}}">{{tab.value}}</span>
        </li>
      </ul>
    </div>
    <div class="description">	
    	<span>Вам нужно найти пары цифр. Если вы открываете пару ячеек с одинаковыми цифрами, они остаются открытыми. Если вы выбираете пару с разными цифрами, все ячейки закрываются (велючая и правильно открытые) и вы начинаете заново</span>
    </div>


	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/tab_game.js"></script>
</body>
</html>